body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.content {
  padding: 40px;

  h1 {
    margin: 0 0 40px;
    font-family: Inter;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 220px;
  padding: 30px;
  border: 1px solid #f2f2f2;
  border-radius: 40px;

  img {
    width: 133px;
    height: 112px;
    margin: 0 auto;
    display: block;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;

      span {
        font-size: 11px;
      }
      b {
        font-size: 14px;
      }
    }
  }

  &__btn {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;

    img {
      width: 11px;
      height: 11px;
    }
  }
}
